.card-container{
    align-self: center;
    justify-self: center;
}


.card-image{
    width: clamp(90px, 9vw, 140px);
    height: clamp(90px, 9vw, 140px);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    background-color: rgba(50, 9, 132, 0.842);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
}

